.toggleButton {
  display: flex;
  justify-content: flex-end;
  transition: left 0.5s ease;
  position: relative;
  right: -33px;
  top: 20px;
}

.sideBarMenu {
  background: #222935;
  height: 100vh;
  width: 16rem;
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  text-align: left;
  transition: all 200ms ease;
}
.sideBarMenu .sideBarAvatar {
  padding: 2em 0.5em;
  text-align: center;
}
.sideBarMenu .sideBarAvatar img {
  border-radius: 50%;
  height: 100px;
  border: 1px solid #ffffff;
  margin-top: 2px;
}
.sideBarMenu .sideBarAvatar h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: white;
}
.sideBarMenu ul {
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
}
.sideBarMenu ul li {
  padding: 18px 20px;
  align-items: center;
  cursor: pointer;
  color: #667081;
  width: 13rem;
}
.sideBarMenu ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.sideBarMenu ul li a {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  margin-left: 15px;
  text-decoration: none;
}
.sideBarMenu ul li a:focus {
  color: #26c17e;
}

.sideBarMenu.active {
  width: 5rem;
  transition: all 0.5s ease;
}
.sideBarMenu.active .sideBarAvatar img {
  height: 40px;
}
.sideBarMenu.active .sideBarAvatar h1 {
  opacity: 0;
  position: absolute;
}
.sideBarMenu.active ul li {
  padding-top: 30px;
  width: 0px;
}
.sideBarMenu.active ul li:hover {
  background: none;
  width: auto;
}
.sideBarMenu.active ul li span {
  display: none;
  opacity: 0;
  transition: all 0.5s ease;
}
.sideBarMenu.active ul li:hover span {
  opacity: 0;
}
.sideBarMenu.active .angle-left {
  margin-left: 10%;
}
.sideBarMenu.active .goBackButtonIcon {
  transition: all 200ms ease;
  background: #26c17e;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.goBackButton {
  padding-left: 13px;
  color: #ffffff;
}

.goBackButtonIcon {
  color: #ffffff;
}

.goBack {
  position: absolute;
  top: 90%;
}

.angle-left {
  position: absolute;
  left: 30%;
  bottom: 30%;
}

.navigationButtonBar {
  padding-left: 40px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
}

.buttonIcon svg {
  width: 14px;
  height: 14px;
}

.sideBarMenu.active ~ .navigationButtonBar a {
  font-size: 20px;
  margin-left: 170px;
  width: 80px;
}

.btn {
  font-weight: 500 !important;
  background-color: #222935;
  color: white;
  padding-left: 9px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 9px;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: all 0.5s ease;
}

@media screen and (max-width: 600px) {
  .Inner {
    margin-left: 7.5rem;
  }
  .sideBarMenu {
    width: 5rem;
    transition: all 0.5s ease;
  }
  .sideBarMenu .sideBarAvatar img {
    width: 40px;
    height: 40px;
  }
  .sideBarMenu .sideBarAvatar h1 {
    opacity: 0;
  }
  .sideBarMenu ul li {
    padding-top: 30px;
    width: 0px;
  }
  .sideBarMenu ul li:hover {
    background: none;
    width: auto;
  }
  .sideBarMenu ul li span {
    display: none;
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.2em 0.5em;
    border-radius: 4px;
    top: 50%;
    left: 80px;
  }
  .sideBarMenu ul li span:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(0, 0, 0, 0.5);
  }
  .sideBarMenu ul li:hover span {
    opacity: 1;
  }
  .goBack {
    margin-left: -10px;
  }
  .angle-left {
    margin-left: 200px;
  }
  .goBackButtonIcon {
    background: #26c17e;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
