#timeline .timeline-item:after, #timeline .timeline-item:before {
  content: "";
  display: block;
  width: 100%;
  clear: both; }

#timeline .timeline-item:after, #timeline .timeline-item:before {
  content: "";
  display: block;
  width: 100%;
  clear: both; }

.timelineContainer {
  overflow-y: auto;
  min-height: 30vh;
  max-height: 80vh; }

.educationSection {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 120%;
  color: #26c17e; }

#timeline {
  line-height: 1.5em;
  font-size: 14px;
  width: 90%;
  margin: 30px auto;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  #timeline,
  #timeline *,
  #timeline *:before,
  #timeline *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }
  #timeline:before {
    content: "";
    width: 5px;
    height: 100%;
    background: #26c17e;
    left: 50%;
    top: 0;
    position: absolute; }
  #timeline:after {
    content: "";
    clear: both;
    display: table;
    width: 100%; }
  #timeline .timeline-item {
    margin-bottom: 50px;
    position: relative; }
    #timeline .timeline-item .timeline-icon {
      background: white;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -23px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    #timeline .timeline-item .year {
      position: absolute;
      top: -6px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 120%; }
    #timeline .timeline-item .timeline-content {
      background: #eeeeee;
      padding: 10px 10px 5px 15px;
      position: relative;
      -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
      #timeline .timeline-item .timeline-content h2 {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 120%; }
      #timeline .timeline-item .timeline-content p {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        padding-left: 5px; }
      #timeline .timeline-item .timeline-content:before {
        content: "";
        position: absolute;
        top: 20px;
        right: -5px;
        width: 14px;
        height: 14px;
        background-color: #eeeeee;
        display: block;
        border-radius: 3px;
        transform: rotate(45deg); }
      #timeline .timeline-item .timeline-content.right {
        float: right; }
        #timeline .timeline-item .timeline-content.right:before {
          left: -5px;
          right: inherit; }

#timeline {
  margin-left: 10px;
  padding: 0; }
  #timeline:before {
    left: 15px; }
  #timeline .timeline-item .timeline-content {
    margin-left: 70px; }
    #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
      left: -5px;
      right: inherit; }
  #timeline .timeline-item .timeline-icon {
    left: 15px; }

.year {
  color: black;
  text-align: center;
  margin-top: 20px; }

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh; }

.loading {
  width: 60;
  height: 60px;
  color: #26c17e;
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  color: red; }
