.experienceSection {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 120%;
  color: #26c17e;
}

.workCompany {
  display: flex;
  flex-direction: column;
  width: 80px;
}

.companyName {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  color: #222935;
  margin-top: 10px;
}

.workingYear {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #667081;
  margin-top: -10px;
}

.workJob {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  width: 700px;
}

.jobTitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  color: #222935;
  margin-top: 10px;
}

.jobDescription {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #222935;
  margin-top: -10px;
}

.jobWrapper {
  display: flex;
  justify-content: flex-start;
}
