.column {
  flex: 100%;
  max-width: 100%;
  padding: 20px;
}

.column img {
  vertical-align: middle;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #ffffff;
}

.container:hover .overlay {
  opacity: 0.9;
  height: 100%;
}

.text {
  font-size: 20px;
  position: absolute;
  top: 10%;
  left: 10%;
  text-align: left;
}

.sourceLink {
  color: #26c17e;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  text-decoration-line: underline;
}

.overlayTitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  color: #26c17e;
}

.overlayDescription {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #222935;
}

/* Tablet Styles */
@media only screen and (min-width: 480px) {
  .column {
    flex: 50%;
    max-width: 80%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  .column {
    flex: 33.3%;
    max-width: 33.3%;
  }
}
