.contactsSection {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 120%;
  color: #26c17e;
}

.contactData {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  color: #222935;
  width: 91px;
  height: 19px;
  padding: 0;
  margin: 0;
}

.contactLinks {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-size: 14px;
  line-height: 120%;
  color: #222935;
}

.contactIcon {
  color: #26c17e;
  width: 30px;
  height: 30px;
}

.contactWrapper {
  margin-left: 50px;
  margin-top: -30px;
  display: flex;
  flex-direction: column;
}

.contactMethod {
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .contactWrapper {
    margin-left: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
}
