.skillSection {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 120%;
  color: #26c17e;
}

.skillLabel {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: #000000;
  margin-left: 40px;
  padding-right: 10px;
}

.skillInput {
  width: 270px;
  height: 40px;
  border: 1px solid #667081;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 120%;
  color: #667081;
  display: inline-block;
  margin-top: 20px;
  padding-left: 10px;
}

.skillDataWrapper {
  width: 90%;
  height: 220px;
  left: 34px;
  border: 1px solid #26c17e;
  box-sizing: border-box;
  border-radius: 5px;
  border-color: #26c17e;
}

.submitButton {
  width: 103px;
  height: 40px;
  background: #222935;
  border-radius: 5px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  margin-left: 40px;
}

.submitButton:hover {
  background-color: #26c17e;
  border: none;
  transition: 200ms ease;
}

.submitButton:disabled,
.submitButton[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.rangeWrapper {
  margin-bottom: 20px;
}

.errorMessage {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 120%;
  position: absolute;
  display: flex;
  display: flex;
  margin-left: 40px;
  color: red;
  height: 20%;
}

.skills {
  margin-top: 50px;
  padding: 0;
  width: calc(93% - 50px);
}
.skills li {
  display: block;
  position: relative;
  background-color: #26c17e;
  color: #fff;
  margin: 10px 0;
  transition: width 300ms ease-in-out;
}
.collapsed .skills li {
  width: 0 !important;
}
.skills li p {
  padding: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
}
.skills li span {
  position: absolute;
  right: 10px;
  display: inline-block;
  width: 30px;
  top: 11px;
  text-align: right;
  font-weight: normal;
  color: #fff;
  font-size: 11px;
}

.scale {
  width: 90%;
}

.openEditButton {
  float: right;
  justify-content: flex-end;
  margin-right: 250px;
  margin-top: -55px;
}

.openEdit {
  background: #222935;
  cursor: pointer;
  outline: inherit;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  width: 138px;
  height: 40px;
  color: #ffffff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
}
.openEdit:hover {
  background-color: #26c17e;
  transition: 200ms ease;
}

.openEditIcon {
  padding-right: 10px;
}

@media screen and (max-width: 600px) {
  .skillInput {
    width: 100%;
  }
  .rangeWrapper {
    height: 100%;
    padding-bottom: 40px;
  }
  .skillDataWrapper {
    width: 100%;
    height: 100%;
  }
  .errorMessage {
    margin-top: 20px;
    margin-left: 4px;
  }
  .skillLabel {
    margin-top: 10px;
  }
  .submitButton {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .openEditButton {
    margin-right: 100px;
    transition: 0.5s ease;
  }
}

@media screen and (max-width: 600px) {
  .openEditButton {
    margin-right: 0px;
  }
}
