.userProfileData {
    margin-left: 16rem;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
  }
  
  .sideBarMenu.active ~ .userProfileData {
    margin-left: 5rem;
  }


  @media screen and (max-width: 600px) {
    .sideBarMenu ~ .userProfileData {
      margin-left: 5rem;
    }
      & ~ .userProfileData {
        margin-left: 5rem;
      }
    }