.logoutButton .showLogoutButton {
  color: #222935;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .logoutButton {
    margin-left: -6px;
  }
}
