@import url(../scss/Box.scss);
@import url(../scss/Expertise.scss);
@import url(../scss/Portofolio.scss);
@import url(../scss/Contacts.scss);
@import url(../scss/Feedback.scss);
@import url(../scss/Info.scss);
@import url(../scss/BackToTopButton.scss);

html {
  scroll-behavior: smooth;
}

.Inner {
  margin-left: 18.5rem;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}

.sideBarMenu.active ~ .Inner {
  margin-left: 7.5rem;
}

@media screen and (max-width: 600px) {
  .sideBarMenu ~ .Inner {
    margin-left: 7.5rem;
  }

  .sideBarMenu.active {
    width: 0rem;

    .sideBarAvatar {
      display: none;
    }

    li {
      display: none;
    }
    & ~ .Inner {
      margin-left: 2.5rem;
    }
  }
}
