@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap); }

.aboutMeTitle {
  width: 122px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #26c17e; }

.aboutMeDescription {
  padding-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  width: 95%; }
